@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.showinfo {
    color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3.6em;
    font-family: "Arvo", san-sarif;
    justify-content: space-between;
    gap: 10px;
}

body {
    background: #eeeeee;
    font-family: "Arvo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  
  h1 {
    color: #ffffff;
    background-color: #013369;
    font-size: 3.2em;
    padding: 10px 100vw 10px;
    text-wrap: nowrap;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    gap: 10px;
}
label {
    align-items: left;
    text-align: left;
}

  ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
  }

  footer {
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
